body {
    background-color: #333333;
    font-family: 'Fira Sans', sans-serif;
}
a:link {
    color: #00b9e8;
    font-family: 'Hack', sans-serif;
    font-weight: bold;
    text-decoration: none;
}
a:visited { color: #c700c0; }
h1 {
    color: #eeeeee;
    text-align: center;
    font-weight: bold;
    font-family: 'Hack', sans-serif;
}
p {
    color: #eeeeee;
    text-align: left;
}

.sidebar {
    height: 100%;
    width: 150px;
    position: absolute;
    left: 0;
    top: 0;
    padding-top: 40px;
    background-color: #444444;
}

.sidebar div {
    padding: 8px;
    font-size: 24px;
    display: block;
}

.not-sidebar {
    margin-left: 150px;
    font-size: 18px;
}
